html
  head
    title= title
  body
    h1= message
    <table 
      <tbody>
        <tr>
          <td width='50%'><strong>Positive</strong></td>
          td= positive
        </tr>
        <tr>
          <td><strong>Negative</strong></td>
          td= negative
        </tr>
        <tr>
          <td><strong>Total</strong></td>
          td= total
        </tr>
      </tbody>
    </table>
